<%
  <!-- artistas recoemndados -->
  const {
    artists: recommendedArtistItems
  } = locals.recommendedArtists;

  <!-- nuevos álbumes -->
  const {
    items: newReleaseItems,
    next: newReleaseNext
  } = locals.newRelease;

  <!-- featured playlist -->
  const {
    message: featuredPlaylistTitle,
    playlists: { 
      items: featuredPlaylistItems,
      next: featuredPlaylistNext 
    }
  } = locals.featuredPlaylist;

  <!-- top playlist-->
  const {
    playlists: { 
      items: topPlaylistItems,
      next: topPlaylistNext 
    }
  } = locals.topPlaylist;

%>

<!DOCTYPE html>
<html lang="es">

<head>
  
  <%- include('../layouts/head', { title: 'Musify - Inicio' }) %>

</head>

<body>

  <!-- Recently played -->
  <%- include('../layouts/recent_played', {
    recentlyPlayed: locals.recentlyPlayedTracks
  }) %>

  <article class="page custom-scrollbar" data-page>

    <!-- TOP APP BAR -->
    <%- include('../partials/top_bar', locals.currentProfile) %>

    <!-- BOTTOM NAV -->
    <%- include('../partials/bottom_nav', { currentRoute: '/' }) %>

    <div class="main" data-main>

      <!-- Álbumes recomendados -->
      <% if (locals.recommendedAlbums.length) { %>
        <section class="section">

          <div class="title-wrapper">
            <h2 class="title-large section-title">Recomendado para ti</h2>
          </div>

          <div class="slider">
            <div class="slider-inner">

              <% locals.recommendedAlbums.forEach(({ album: {artists, images, name: title, id, uri} }) => { %>

                <% 
                  const text = artists.map(({ name }) => name).join(', ');
                  const image = images.find(item => item.width === 300);
                %>

                <%- include('../partials/card', {
                  image,
                  type: 'album',
                  title,
                  text,
                  link: `/album/${id}`,
                  uri
                }) %>

              <% }) %>

            </div>
          </div>

        </section>
      <% } %>

      <!-- Artistas recomendados -->
      <% if (recommendedArtistItems.length) { %>
        <section class="section">

          <div class="title-wrapper">
            <h2 class="title-large section-title">Artista para ti</h2>
          </div>

          <div class="slider">
            <div class="slider-inner">

              <% recommendedArtistItems.forEach(({ name: title, type, images, id, uri }) => { %>

                <% const [image] = images || [] %>

                <%- include('../partials/card', { 
                  variant: 'artist-card',
                  title,
                  image,
                  type,
                  text: type,
                  link: `/artist/${id}`,
                  uri
                }) %>

              <% }) %>

            </div>
          </div>

        </section>
      <% } %>

      <!-- Nuevos álbumes -->
      <section class="section">

        <div class="title-wrapper">
          <h2 class="title-large section-title">Nuevos lanzamientos</h2>

          <% if (newReleaseNext !== null) { %>
            <a href="/album" class="btn btn-link" data-ripple>
              <span class="label-large">Mostrar todo</span>

              <div class="state-layer"></div>
            </a>
          <% } %>
        </div>

        <div class="slider">
          <div class="slider-inner">

            <% newReleaseItems.forEach(({ id, images, name: title, artists, uri }) => { %>

              <%
                const text = artists.map(({ name }) => name).join(', ');
                const image = images.find(item => item.width === 300);
              %>

              <%- include('../partials/card', {
                image,
                type: 'album',
                title,
                text,
                link: `/album/${id}`,
                uri
              }) %>

            <% }) %>

          </div>
        </div>

      </section>

      <!-- featured playlists -->
      <section class="section">

        <div class="title-wrapper">
          <h2 class="title-large section-title">Reproducciones destacadas</h2>

          <% if (featuredPlaylistNext !== null) { %>
            <a href="/playlist" class="btn btn-link" data-ripple>
              <span class="label-large">Mostrar todo</span>

              <div class="state-layer"></div>
            </a>
          <% } %>
        </div>

        <div class="slider">
          <div class="slider-inner">

            <% featuredPlaylistItems.forEach(({ id, images, name: title, description, uri }) => { %>

              <% const [image] = images || [] %>

              <%- include('../partials/card', {
                image,
                type: 'playlist',
                title,
                text: description,
                link: `/playlist/${id}`,
                uri
              }) %>

            <% }) %>

          </div>
        </div>

      </section>

      <!-- top playlist -->
      <section class="section">

        <div class="title-wrapper">
          <h2 class="title-large section-title">Top playlists</h2>

          <% if (topPlaylistNext !== null) { %>
            <a href="/explore/toplists" class="btn btn-link" data-ripple>
              <span class="label-large">Mostrar todo</span>

              <div class="state-layer"></div>
            </a>
          <% } %>
        </div>

        <div class="slider">
          <div class="slider-inner">

            <% topPlaylistItems.forEach(({ id, images, name: title, description, uri }) => { %>

              <% const [image] = images || [] %>

              <%- include('../partials/card', {
                image,
                type: 'playlist',
                title,
                text: description,
                link: `/playlist/${id}`,
                uri
              }) %>

            <% }) %>

          </div>
        </div>

      </section>

    </div>

    <!-- FOOTER -->
    <%- include('../layouts/footer') %>

    <!-- PlAYER SM -->
    <%- include('../partials/player_sm') %>

    <!-- PLAYER LG -->
    <%- include('../partials/player_lg') %>

  </article>

</body>

</html>