<%
  <!-- current user profile -->
  const {
    display_name: profileName,
    images: profileImages,
    followers: { total: totalProfileFollowers }
  } = currentProfile;

  <!-- user top tracks -->
  const {
    total: userTotalTopTracks,
    next: userTopTrackNext,
    items: userTopTrackItems
  } = locals.userTopTracks;

  <!-- user top artists -->
  const {
    total: userTotalTopArtist,
    next: userTopArtistNext,
    items: userTopArtistItems
  } = locals.userTopArtist;

  <!-- user followed artist -->
  const {
    total: userTotalFollowedArtist,
    next: userFollowedArtistNext,
    items: userFollowedArtistItems
  } = locals.userFollowedArtist;
%>

<!DOCTYPE html>
<html lang="es">

<head>
  
  <%- include('../layouts/head', { title: `${profileName} - Musify` }) %>

  <style>
    .detail-header { align-items: center; }

    .detail-banner { border-radius: var(--radius-full); }
  </style>

</head>

<body>

   <!-- Recently played -->
   <%- include('../layouts/recent_played', {
    recentlyPlayed: locals.recentlyPlayedTracks
  }) %>

  <article class="page custom-scrollbar" data-page>

    <!-- TOP APP BAR -->
    <%- include('../partials/top_bar', locals.currentProfile) %>

    <!-- BOTTOM NAV -->
    <%- include('../partials/bottom_nav') %>


    <div class="main">

      <!-- PROFILE -->
      <section class="detail-header">

        <figure class="img-holder detail-banner">

          <%
            const {
              url = '/images/artist-banner.png',
              width = 300,
              height = 300
            } = profileImages[1] || {}
          %>

          <img src="<%=url%>" width="<%=width%>" height="<%=height%>" alt="<%=profileName%>" class="img-cover" data-image-load-anim>
        </figure>

        <div class="detail-content">

          <p class="label-large detail-subtitle">Perfil</p>

          <h2 class="headline-large detail-title">
            <%=profileName%>
          </h2>

          <div class="detail-text has-separator">

            <p class="label-large">
              <%=totalProfileFollowers%> Seguidores
            </p>
            <span class="separator"></span>

            <p class="label-large">
              <%=userTotalFollowedArtist%> Siguiendo
            </p>

          </div>

        </div>

      </section>

      <div class="divider variant"></div>

      <!-- TOP ARTIST -->
      <% if (userTotalTopArtist) { %>
        <section class="section">

          <div class="title-wrapper">
            <h2 class="title-large section-title">Mejores artistas</h2>

            <% if (userTopArtistNext !== null) { %>
              <a href="/me/top/artist" class="btn btn-link" data-ripple>
                <span class="label-large">Ver todo</span>

                <div class="state-layer"></div>
              </a>
            <% } %>
          </div>

          <div class="slider" data-slider>
            <div class="slider-inner">

              <% userTopArtistItems.forEach(({ name, type, images, id, uri }) => { %>

                <% const [image] = images || [] %>

                <%- include('../partials/card', {
                  variant: 'artist-card',
                  title: name,
                  image,
                  type: 'artist',
                  text: type,
                  link: `/artist/${id}`,
                  uri
                }) %>

              <% }) %>

            </div>
          </div>

        </section>
      <% }%>

      <!-- TOP TRACKS -->
      <% if (userTotalTopTracks) { %>
        <section class="section">

          <div class="title-wrapper">
            <h2 class="title-large section-title">Los mejores temas</h2>

            <% if (userTopTrackNext !== null) { %>
              <a href="/me/top/track" class="btn btn-link" data-ripple>
                <span class="label-large">Ver todo</span>

                <div class="state-layer"></div>
              </a>
            <% } %>
          </div>

          <div class="list">

            <% userTopTrackItems.forEach(({ album: { images, name: albumName }, artists, name, duration_ms, id, uri: trackUri }, index) => { %>

              <%
                const text = artists.map(({ name }) => name).join(', ');
                index++;
              %>

              <%- include('../partials/list_item', {
                title: name,
                images,
                text,
                duration_ms,
                id,
                trackNumber: index,
                albumName,
                trackUri
              }) %>

            <% }) %>

          </div>

        </section>
      <% }%>

      <!-- FOLLOWED ARTIST -->
      <% if (userTotalFollowedArtist) { %>
        <section class="section">

          <div class="title-wrapper">
            <h2 class="title-large section-title">Siguiendo</h2>

            <% if (userFollowedArtistNext !== null) { %>
              <a href="/me/following" class="btn btn-link" data-ripple>
                <span class="label-large">Ver todo</span>

                <div class="state-layer"></div>
              </a>
            <% } %>
          </div>

          <div class="slider" data-slider>
            <div class="slider-inner">

              <% userFollowedArtistItems.forEach(({ name, type, images, id, uri }) => { %>

                <% const [image] = images || [] %>

                <%- include('../partials/card', {
                  variant: 'artist-card',
                  title: name,
                  image,
                  type: 'artist',
                  text: type,
                  link: `/artist/${id}`,
                  uri
                }) %>

              <% }) %>

            </div>
          </div>

        </section>
      <% }%>

    </div>


    <!-- FOOTER -->
    <%- include('../layouts/footer') %>

    <!-- PlAYER SM -->
    <%- include('../partials/player_sm') %>
    
    <!-- PLAYER LG -->
    <%- include('../partials/player_lg') %>

  </article>

</body>

</html>