<%
  <!-- search playlist -->
  const {
    items: searchPlaylistItems
  } = locals.searchPlaylist;
%>

<!DOCTYPE html>
<html lang="es">

<head>
  
  <%- include('../layouts/head', { title: `Buscar - Musify` }) %>

</head>

<body>

   <!-- Recently played -->
   <%- include('../layouts/recent_played', {
    recentlyPlayed: locals.recentlyPlayedTracks
  }) %>

  <article class="page custom-scrollbar" data-page>

    <!-- TOP APP BAR -->
    <%- include('../partials/top_bar', locals.currentProfile) %>

    <!-- BOTTOM NAV -->
    <%- include('../partials/bottom_nav') %>


    <!-- SEARCH FILTER LIST -->
    <%- include('../layouts/search_filter', { type: locals.type }) %>


    <div class="main">

      <section class="section">

        <div class="grid-list">

          <% searchPlaylistItems.forEach(({ id, images, name: title, owner, uri }) => { %>

            <% 
              const text = `De ${owner.display_name}`
              const [image] = images || []; 
            %>

            <%- include('../partials/card', {
              image,
              type: 'playlist',
              title,
              text,
              link: `/playlist/${id}`,
              uri
            }) %>

          <% }) %>

        </div>

        <!-- PAGINATION -->
        <%- include('../partials/pagination', locals.searchPlaylist) %>

      </section>

    </div>


    <!-- FOOTER -->
    <%- include('../layouts/footer') %>

    <!-- PlAYER SM -->
    <%- include('../partials/player_sm') %>
    
    <!-- PLAYER LG -->
    <%- include('../partials/player_lg') %>

  </article>

</body>

</html>