<%
  <!-- user top tracks -->
  const {
    items: trackItems,
    limit,
    page
  } = locals.tracks;
  
%>

<!DOCTYPE html>
<html lang="es">

<head>
  
  <%- include('../layouts/head', { title: `Musify - ${locals.title}` }) %>

</head>

<body>

   <!-- Recently played -->
   <%- include('../layouts/recent_played', {
    recentlyPlayed: locals.recentlyPlayedTracks
  }) %>

  <article class="page custom-scrollbar" data-page>

    <!-- TOP APP BAR -->
    <%- include('../partials/top_bar', locals.currentProfile) %>

    <!-- BOTTOM NAV -->
    <%- include('../partials/bottom_nav') %>


    <div class="main" data-main>
      <section class="section">

        <div class="title-wrapper">
          <h2 class="title-large section-title">
            <%=locals.title%>
          </h2>
        </div>

        <div class="list">

          <% trackItems.forEach(({ album: { images, name: albumName }, artists, name, duration_ms, id, uri: trackUri }, index) => { %>

            <%
              const text = artists.map(({ name }) => name).join(', ');
              index = (index + 1) + (limit * (page - 1));
            %>

            <%- include('../partials/list_item', {
              title: name,
              images,
              text,
              duration_ms,
              id,
              trackNumber: index,
              albumName,
              trackUri
            }) %>

          <% }) %>

        </div>

        <!-- PAGINATION -->
        <%- include('../partials/pagination', locals.tracks) %>

      </section>
    </div>


    <!-- FOOTER -->
    <%- include('../layouts/footer') %>

    <!-- PlAYER SM -->
    <%- include('../partials/player_sm') %>
    
    <!-- PLAYER LG -->
    <%- include('../partials/player_lg') %>

  </article>

</body>

</html>